/* Reset some default browser styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px; /* Adjust the base font size for better readability */
    line-height: 1.5;
    background-color: #f4f4f4;
}

.quiz-container {
    background-color: #fff;
    font-size: 1.6rem;
    padding: 20px; /* Adjust the padding for better spacing */
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 50px auto; /* Center the quiz container on the page */
    max-width: 800px; /* Limit the maximum width of the quiz container */
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    font-size: 16px;
}

.btn {
     width: 45%; /* Adjust the width as needed */
    height: 90px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px; /* Slightly reduce the font size for buttons */
}
.summary-item {
    font-size: 16px;
    text-align: left;

}

#Info {
    text-align: center;
    text-decoration-line: line-through;
}

#examiner-info input[type="text"],
#incorrect-word,
#buttons input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 10px;
    border: 1px solid #ccc; /* Add a border for better visibility */
    border-radius: 5px;
}

.notification {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffcc00;
    color: #333;
    text-align: center;
    padding: 10px;
    z-index: 9999;
}
.btn1{
    display: none;
}

.scorefront{
    display: none;
}

#summary {
    margin: 20px auto;
    text-align: left; /* Align the text to the left */
    background-color: #f4f4f4;
    text-align: center;
    max-width: 100%;
    padding: 20px; /* Add padding for spacing */
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.5;
}

@media print {
    /* ... Your print styles here ... */
}
